body {
  background-color: bisque;
}
* {
  box-sizing: border-box;
  font-family: "Grape Nuts", cursive;
}
h1 {
    text-align: left;
    font-size: 20px;
  }
header {
  display: flex;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  top: 0;
  min-height: 60px;
  padding: 0px 20px;
  background-color: bisque;
  z-index: 1;
}
#header-img {
  width: 100px;
  height: 100px;
}
.nav-bar {
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

#nav-bar ul {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}
.video-categories {
  width: 400px;
  height: 300px;
  display: flex;
  position: relative;
  overflow: auto;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

p {
  font-size: 50px;
  text-align: center;
}

.video-categories p {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 35px;
}

.video-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  align-items: center;
  height: 600px;
  width: 700px;
}
.recommended-image-video {
  max-width: 100%;
  height:auto;
}
#github-img {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}